input[type='submit'] {
  background-color: $nav-highlight;
  color: $white;
  height: 3em;
  border: none;
  border-radius: 5px;
  margin-top: 5px;
}

button[id='cancel'] {
  height: 3em;
  width: 75%;
  background-color: $btn-grey;
  color: $white;
  border: none;
  border-radius: 5px;
  margin-top: 5px;
}
