
header {
  background-image: url('../images/mountains.jpg');
  background-size: cover;
  max-width: 100%;
  height: 40em;
  @include mq(medium){
    height: 50em;
  }
  & h1 {
    color: $white;
    padding: 2em;
    border: 5px solid $white;
    text-align: center;
    width: fit-content;
    @extend %center;
  }
  & .layer {
    width: inherit;
    height: inherit;
    background: linear-gradient(rgba(204, 230, 255, .6),$white);
    @include flexy(flex, column, null, center);
  }
}

main {
  margin-top: 10em;
  min-height:100vh;
  .column-one,
  .column-two {
    height: 100%;
    width: 100%;
    @include mq(medium) {
      width: 50%;
    }
  }
  .column-one {
    margin-bottom: 2em;
    @include mq(medium) {
      margin-bottom: 0;
    }
    @include mq(medium) {
      border-right: 2px solid $main-color;
  }
}
  & .section-one {
    @include flexy(flex, column);
    margin-bottom: 5em;
    @include mq(medium) {
      @include flexy(flex,row);
      margin-bottom: 10em;
    }
  }
}

.border-bottom {
  border-bottom: 2px solid $main-color;
  width: 40%;
  @extend %center;
  @include mq(medium) {
    display: none;
  }
}

.testimonials {
    width: 100%;
    @include mq(medium) {
      margin-left: 2em;
    }
    &--intro {
      width: 100%;
      margin-bottom: 5em;
      @include mq(medium) {
        width: 80%;
        padding-left: 10em;
        margin-bottom: 10em;
    }
  }
    &--block {
      @include flexy(flex,column);
      width: 100%;
      @include mq(medium) {
        @include flexy(flex, row);
      }
      & .big-quote {
        margin: 0 auto;
        width: 100%;
        @include mq(medium) {
          width: 45%;
        }
      }
    }

    &--list {
      @include flexy(flex, column);
      float: right;
      width: 65%;
      margin: 0 auto;
      margin-top: 1em;
      @include mq(medium) {
        width: 35%;
      }
    }
    & .testimony {
      margin-top: 3em;
      & p {
        margin: 0;
      }
    }
  }

  h2 {
    width: fit-content;
    @extend %center;
    border-bottom: 1px solid $main-color;
  }

  .history {
    background: linear-gradient($white, $white, rgba(204, 230, 255, 0.2), $white, $white, rgba(204, 230, 255, 0.2),$white, $white);

  }
  .chart__image {
    background-image: url('../images/chart.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    margin: 5em 0em;
    &--layer {
      height: 17em;
      background-size: cover;
      background: linear-gradient($white, rgba(204, 230, 255, .6), $white);
      @include mq(medium) {
        height: 30em;
      }
    }
  }

  .family-owned {
    margin-top: 5em;
    @include mq(medium){
      margin-top: 10em;
      width: 80%;
      float: right;
      padding-right: 10em;
  }
}

  .layer {
    clear: both;
  }

  .history {
    padding-top: 10em;
  }
  .quote {
    @include flexy(flex, column);

    @include mq(medium){
      @include flexy(flex, row);
      clear: both;
    }
    &--intro {
      width: 90%;
      @extend %center;
      margin-top: 5em;
      @include mq(medium) {
        width: 45%;
      }
    }
    &--get {
      height: 12em;
      width: auto;
      @include flexy(flex, column-reverse, null, center);
      background-image: url('../images/clouds.jpg') ;
      background-size: cover;
      @include mq(medium) {
        width: 65%;
        height: auto;

    }
  }
      &--layer {
        width: 100%;
        height: 100%;
        background: radial-gradient(farthest-side at 50% 75%, rgba(204, 230, 255,.6), $white);
        @include flexy(flex, column, null, center);
      }
       & button {
        width: 55%;
        @extend %center;
        height: 3em;
        border: none;
        border-radius: 5px;
        background-color: $nav-highlight;
        color: $white;
        font-size: 1em;
        cursor: pointer;
      }
    }

.services {
  & ul {
    list-style-type: disc;
    @extend %center;
    width: fit-content;
    padding-top: 1em;
  }
}

.career {
  & ul {
    list-style-type: disc;
    @extend %center;
    width: fit-content;
    padding-top: 1em;
  }
}

.contact {
  @include flexy(flex, column, null, center);
  margin-top: 0;
}

  footer {
    @include flexy(flex, row, null, space-around);
    align-items: center;
    background: linear-gradient($white,rgba( 204, 230, 255,.6));
  }

  .social-nav {
    @include flexy(flex, row);
    padding: 0;
    transform: scale(.8);
    & li {
      margin: 1em;
      cursor: pointer;
    }
  }
