
.overlay {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 5;
  background-color: rgba(204, 230, 255, .9);
  top: 0;
  display: none;
  justify-content: center;
}
.application {
  @include flexy(flex, column, null, center);
  width: 90%;
  @extend %center;

}
