

* {
  font-family: 'Source Sans Pro';
}

.big-quote {
  font-size: 1.2em;
  align-self: center;
  @include mq(medium) {
    font-size: 2em;
  }
  @include mq(medium) {
    font-size: 2.7em;
  }
  &--mark {
    font-size: 6em;
    display: inline-block;
    width: fit-content;
    position: absolute;
    height: 0px;
    font-family: 'Catamaran';
    &:first-child{
      transform: rotate(180deg);
    }
  }
}

 h2 {
  text-align: center;
}
p {
  text-align: center;
  @include mq(medium) {
    padding: 0;
    margin: 2em;
    font-size: 1.2em;
    text-align: left;
}

}

.user {
  font-weight: $font-weight--bold;
  font-size: 1em;
}

footer {
  & p {
    font-size: 12px;
  }
}
